@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
  font-size:1vw;
  font-family: 'Libre Baskerville', serif;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: auto;
  background-color: #E7D7C1;
  letter-spacing:0.5px;
}

p{
  font-size:0.75vw;
  max-width: 1200px;
  margin: auto;
}

a{
  font-size:1.1vw;
  max-width: 900px;
  margin: auto;
  text-decoration: none;
}
.list{
  font-size: 0.7vw;
}
